.offScreenMenu {
    background-color: var(--card);
    height: 100vh;
    width: 100%;
    max-width: 75%;
    position: fixed;
    top: 0;
    left: -75%;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    justify-content: space-between;
    padding: calc(var(--spacing) * 5) /* 1.25rem = 20px */;
    align-items: center;
    transition: 0.3s ease;
    z-index: 50;
    border-color: var(--color-gray-200) /* oklch(92.8% 0.006 264.531) = #e5e7eb */;
  
  }
  
.offScreenMenu.active {
    left: 0;
}

.sidebarNavbarLink{
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) * 1) /* 0.25rem = 4px */;
  align-items: center;
  transition: ease-in-out;
  transition-duration: 200ms;
  border-radius: calc(var(--radius) /* 0.25rem = 4px */ - 2px);
  padding-inline: calc(var(--spacing) * 2) /* 0.5rem = 8px */;
  padding-block: calc(var(--spacing) * 1) /* 0.25rem = 4px */;
  --tw-font-weight: var(--font-weight-semibold) /* 600 */;
  font-weight: var(--font-weight-semibold) /* 600 */;
}

.sidebarNavbarLink:hover{
  cursor: pointer;
  background-color: color-mix(in oklab, #120acd 10%, transparent);
}


@media (width >= 64rem /* 1024px */) {
  .sidebarNavbarLink{
    flex-direction: row;
    gap: calc(var(--spacing) * 3) /* 0.75rem = 12px */;
    font-size: var(--text-lg) /* 1.125rem = 18px */;
    line-height: var(--tw-leading, var(--text-lg--line-height) /* calc(1.75 / 1.125) ≈ 1.5556 */);
    --tw-font-weight: var(--font-weight-bold) /* 700 */;
    font-weight: var(--font-weight-bold) /* 700 */;
  }
}
