.mobileAppPageNav {
  width: 100%;
  height: calc(var(--spacing) * 14) /* 3.5rem = 56px */;
  padding-inline: calc(var(--spacing) * 3) /* 0.75rem = 12px */;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebarNavbarLink{
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) * 1) /* 0.25rem = 4px */;
  align-items: center;
  transition: ease-in-out;
  transition-duration: 200ms;
  border-radius: calc(var(--radius) /* 0.25rem = 4px */ - 2px);
  padding-inline: calc(var(--spacing) * 2) /* 0.5rem = 8px */;
  padding-block: calc(var(--spacing) * 1) /* 0.25rem = 4px */;
  --tw-font-weight: var(--font-weight-semibold) /* 600 */;
  font-weight: var(--font-weight-semibold) /* 600 */;
}

.sidebarNavbarLink:hover{
  cursor: pointer;
  background-color: color-mix(in oklab, #1F51FF 10%, transparent);
}

.desktopAppPageNav{
  width: 100%;
  justify-content: space-between;
  gap: calc(var(--spacing) * 3) /* 0.75rem = 12px */;
  display: flex;
}

@media (width >= 48rem /* 768px */) {
  .mobileAppPageNav{
      display: none;
    }
    .desktopAppPageNav{
      display: flex;
    }
}


@media (width >= 64rem /* 1024px */) {
  .sidebarNavbarLink{
    flex-direction: row;
    gap: calc(var(--spacing) * 3) /* 0.75rem = 12px */;
    font-size: var(--text-lg) /* 1.125rem = 18px */;
    line-height: var(--tw-leading, var(--text-lg--line-height) /* calc(1.75 / 1.125) ≈ 1.5556 */);
    --tw-font-weight: var(--font-weight-bold) /* 700 */;
    font-weight: var(--font-weight-bold) /* 700 */;
  }
}
